@model Webcorp.OneDCut.Models.CutModel

<section class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Calcul de plan de coupe</h1>
    <article class="row">
        <div class="col-md-12">
            <a href="@Url.Action("calculate","home")" class="btn btn-danger @if (!Model.CanCalculate) { Write("disabled"); } "><span class="glyphicon glyphicon-tasks"></span></a>
            <a href="@Url.Action("print","home")" class="btn btn-danger @if (Model.Solve==null) { Write("disabled"); } "><span class="glyphicon glyphicon-print"></span></a>
            <a href="@Url.Action("clear","home")" class="btn btn-danger"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </article>

    <article class="row">
        <div class="col-md-12">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @if (TempData["erreur"] != null)
            {
                <div class="alert alert-danger">@TempData["erreur"]</div>
            }
        </div>
    </article>

    <article class="row">

        <div class="col-md-6">
            <h4>A couper</h4>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr><th>Longueur</th><th>Quantite</th><th><a href="@Url.Action("tocutcreate","home")" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span></a></th></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToCut)
                    {
                        <tr>
                            <td>@item.Length</td>
                            <td>@item.Quantity</td>
                            <td>
                                @using (Html.BeginForm("toCutDelete", "home"))
                                {
                                    <a href="@Url.Action("toCutEdit","home",new { index = item.Id })" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span></a>
                                    @Html.Hidden("id", (object)item.Id)
                                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>Stock</h4>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr><th>Longueur</th><th>Quantite</th><th> <a href="@Url.Action("stockcreate","home")" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span></a></th></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Stocks)
                    {
                        <tr>
                            <td>@item.Length</td>
                            <td>@item.Quantity</td>

                            <td>
                                @using (Html.BeginForm("stockDelete", "home"))
                                {
                                    <a href="@Url.Action("stockEdit","home",new { index = item.Id })" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span></a>
                                    @Html.Hidden("id", (object)item.Id)
                                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </article>
</section>
@if (Model.Solve != null)
{
    <section class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <article class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Resultat</h3></div>
                <div class="panel-body">
                    <article class="row">
                        <div class="col-lg-2 col-md-1">Longueur total  a couper <span class="label label-primary">@Model.Solve.TotalToCut</span></div>
                        <div class="col-lg-2 col-md-1">Longueur total coupee <span class="label label-@if (Model.Solve.IsStockSuffisant) { Write("success"); } else { Write("danger"); } ">@Model.Solve.TotalCut</span></div>
                        <div class="col-lg-2 col-md-1">Longueur total de chute <span class="label label-primary">@Model.Solve.TotalWaste</span></div>
                        <div class="col-lg-2 col-md-1">Pourcentage de chute <span class="label label-primary">@Html.FormatValue(Model.Solve.WastePercentage, "{0:P2}")</span></div>
                    </article>
                    <article class="row">

                        @foreach (var item in Model.Solve.CutPlan.Where(c => c.CutLength > 0).OrderBy(i => i.StockIndex))
                        {
                            
                            <div class="col-md-3 col-lg-2 col-sm-4" >
                                <h4>Dans <span class="badge"> @item.StockLength</span></h4>
                                <h5>Reste: @item.Waste</h5>
                                <table class="table table-bordered table-hover table-nonfluid">
                                    <thead>
                                        <tr><th>@Html.DisplayNameFor(x=>x.Stocks[0].Quantity)</th><th>@Html.DisplayNameFor(x => x.Stocks[0].Length)</th></tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var beam in item.Beams)
                                        {
                                            <tr><td>@beam.Quantity</td><td>@beam.Length</td></tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        }


                    </article>
                </div>
            </div>
        </article>

    </section>
}
<!--
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://placehold.it/200x200/0D8FDB/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://placehold.it/200x200/39DBAC/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://placehold.it/200x200/0D8FDB/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://placehold.it/200x200/39DBAC/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>

    <h2 class="sub-header">Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                </tr>
                <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                </tr>
                <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                </tr>
                <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                </tr>
                <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                </tr>
                <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                </tr>
                <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                </tr>
                <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                </tr>
                <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                </tr>
                <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                </tr>
                <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                </tr>
                <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    -->
